@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

.cardSearch {
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
  margin-bottom: 25px;
}
.alert {
  margin-top: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ff5b37;
}
.controlSearch {
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  border: rgba(58, 61, 66, 0.1);
  height: 54px;
}
.controlSearch:focus {
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  border: rgba(58, 61, 66, 0.1);
  height: 54px;
  box-shadow: none;
}
.controlSearch::placeholder {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: rgba(58, 61, 66, 0.4);
}
.userImg {
  padding: 10px;
}
.name {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #4d4b57;
}
.method {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #7a7886;
}
.infoUser {
  margin-left: 12px;
  margin-top: 12px;
}
.cardUser {
  padding: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 40px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.note1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
}
.formMoney {
  margin-top: 65px;
  margin-bottom: 39px;
  height: 65px;
  padding: 0px;
  text-align: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  text-align: center;
  color: #b5bdcc;
  border: none;
}
.formMoney::placeholder {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  text-align: center;
  color: #b5bdcc;
}
.formMoney:focus {
  box-shadow: none;
}
.amount {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #3a3d42;
  text-align: center;
  margin-bottom: 63px;
}
.formNotes {
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6) !important;
  border: none;
  border-radius: 0px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: rgba(169, 169, 169, 0.8);
  /* width: 343px; */
  margin-bottom: 75px;
}
.formNotes:focus {
  box-shadow: none;
}
.formNotes::placeholder {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: rgba(169, 169, 169, 0.8);
}
.mainFormNote {
  margin: 0 auto;
}
.btnNext {
  float: right;
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  border: #6379f4;
  width: 170px;
  height: 57px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin: 35px;
}
.modal {
  padding: 35px;
}
.titlePin {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}
.notePin {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}
.controlForm {
  background: #ffffff;
  border: 1px solid #6379f4;
  box-sizing: border-box;
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
  height: 65px;
  text-align: center;
}
